{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm3.static.flickr.com/2361/1555168402_f43e4fcd1e_b.jpg) 0 -80px
 facts: two
 title: Stories that matter
 description: Today single person can build a system that previously required a large team. Learn the technologies that matter and stay away from crap. Simple as that.
%}

{% block title %}{% endblock %}

{% block facts %}
<div class="fact">
	<h3>The Cloud</h3>
	
	<p>
		During the past few years languages, patterns and standards have evolved enormously. And there is this  thing called Cloud. Never before a developer had such mind blowing possibilities. 
	</p>
</div>

<div class="fact">

	<h3>The Author</h3>
	
	<p>
		"tipiirai" (Tero Piirainen). Finland. 
		Author of jQuery Tools. Developer of Flowplayer. 
		Likes Berlin. Hates Capitalism. No job offers. Just a personal blog of mine.
	</p>
</div>	
{% endblock %}

{% block links %}
<a href="http://flowplayer.org/tools/">jQuery Tools</a>	
<a href="http://dissidentvoice.org/2009/04/each-day-capitalism-kills-far-more-innocents-than-died-on-911/">
	Capitalism Kills</a>
{% endblock %}
