{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm4.static.flickr.com/3045/2534231248_4fb9ff42b2_b.jpg)
 keywords: cloud computing, cloud services, 
 title: The Cloud
 time: Tue, 23 Nov 2010 10:00:00
 description: "Programming is different now. You use a laptop to build a site for millions of users. Alone. The Cloud offers mind blowing possibilities."
%}

{% block facts %}
<div class="fact">
	<h3>Cloud computing</h3>
	 
	<p>
		Cloud applications are elastic. The more traffic you have the more CPU, disc and memory is provided. Automatically. Your application can serve every person on the globe, not just a small group. 
	</p> 
</div>			

<div class="fact"> 
	<h3>Cloud services</h3>
	
	<p>
		This site's source code is on Github, Dropbox is used for previewing, Flickr for image serving, Google Analytics for tracking, Facebook and Twitter for spreading the word. Everything is free and immediate. Today free lunch truly exists.
	</p> 
</div>			

<div class="fact">
	<h3>The new world</h3>
	
	<p>					
		New emerging organizations grow themselves on the cloud. Cheaper, simpler, more secure, flexible and automated. The hard work is done for you. You pay for what you use or nothing. Complex enterprise solutions cannot compete.
	</p> 
</div>
{% endblock %}

{% block links %} 
<a href="http://aws.amazon.com/">
	Amazon <small>THE Cloud service</small></a>
	
<a href="http://www.rackspace.com/index.php">
	Rackspace <small>Cloud service #2</small></a>
	
<a href="http://gigaom.files.wordpress.com/2010/06/go-cloud-r3.jpg">
	GIGAOM <small>Rise of the Cloud</small></a>
	
<a href="http://www.indeed.com/jobtrends/Cloud-Computing.html">
	Indeed <small>Cloud Job Trends</small></a>
{% endblock %}

	
