{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm4.static.flickr.com/3275/2988881908_d3f6cfe6b9_b.jpg) 0 -80px
 panic: true
 keywords: sap sucks, sap is dead, oracle sucks, ibm sucks
 title: Enterprise "solutions" 
 time: Tue, 23 Nov 2010 10:00:00
 description: Dead long meetings, business cards, large promises and secret forms. The reality of IT business is far away from yachts and cigars.
%}

{% block facts %}
<div class="fact">
	<h3>It's a sad story, really</h3>
	
	<p>
		SAP, IBM or a local company builds your system. Big talks, commercial licenses, ten servers and "enterprise level" quality. Cognac maybe. Hope you did well. The majority failed. Completely. 
	</p>
</div>

<div class="fact">
	<h3>Massive waste of money</h3>
	
	<p>	
		Problems after problems. Consultant after consultant. Private servers and backups. Licenses, contracts, training, seminars &hellip; They will rob you. No excitement. Just the money. 
	</p>
</div> 		


<div class="fact">
	<h3>Insanely complex</h3>
	
	<p>
		Closed, complex and large. From top to bottom. Millions of lines of messy code: Java, XML, even Cobol. "Enterprise Edition 2.0 blah, blah &hellip;" Horrible user interfaces. People go crazy or become zombies.
	</p>

</div>
{% endblock %}

{% block links %}	
<a href="http://www.subtraction.com/2007/10/19/if-it-looks-">
	Subtraction <small>ES is bad stuff</small></a>	
	
<a href="http://news.ycombinator.com/item?id=72115">
	Hacker News <small>Why ES sucks?</small>
	
<a href="http://www.codinghorror.com/blog/2004/07/coding-slave.html">
	Coding Horror <small>Traumatized by ES</small></a> 
{% endblock %}


