{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm1.static.flickr.com/29/63152557_d093b1e621_b.jpg) 0 -80px
 panic: true
 keywords: flash is dead, flash communities are dead
 title: Flash
 description: "It's not only because of Steve Jobs. It's about being old school and proprietary. The glory days are over."
%}

{# http://apiblog.youtube.com/2010/06/flash-and-html5-tag.html #}

	
{% block facts %}
<div class="fact">
	<h3>Closed system</h3>  
		
	<p>					
		Flash is owned and controlled by Adobe. It's a closed system. It is being replaced with HTML5 standard which is faster, smoother and works natively. Standards always win.  
	</p>
</div>

<div class="fact">

	<h3>It's only the video</h3>
	
	<p> 
		Video playback keeps Flash alive. HTML5 has video tag but it lacks streaming, embedding and camera support. Without those Flash would be dead by now. On other areas Flash communities are silent. 
	</p>
</div>			

<div class="fact">

	<h3>Steve Jobs</h3>
	
	<p> 
		Apple drops the support for Flash. This is not a small signal. Programmers move away from risky technology. They want to be part of a vibrant ecosystem and secure their future. The future is in HTML, CSS and JavaScript. 	
	</p>
</div>			
{% endblock %}

{% block links %}
<a href="http://www.apple.com/hotnews/thoughts-on-flash/">
	Steve Jobs <small>Thoughts on Flash</small></a>
	
<a href="http://apiblog.youtube.com/2010/06/flash-and-html5-tag.html">
	YouTube blog <small>Flash vs HTML5 Video</small></a>
	
<a href="http://www.google.com/trends?q=flash">
	Google Trends <small>Flash goes down</small></a>
{% endblock %}
