{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm4.static.flickr.com/3056/3082507706_f8db5a4a2b_b.jpg) 0 -200px
 facts: four
 keywords: user interface design, ui design, cloud ui, usability labs, API UI, ui hierarchy, ui minimalism
 title: User Interfaces
 time: Wed, 15 Dec 2010 10:00:00
 description: "Everybody knows a good user interface is a must. A common fact we've known for years. But. You see crap everywhere, every day. People still miss the point."
%}

{% block facts %}
<div class="fact">
	<h3>Hierarchy</h3>
	
	<p>					
		Here is the point: write a table of contents of what you do. Put pieces into their right places. From top to bottom. Repeat. Don't ever forget this. With an unclear hierarchy your UI (and life) is a mess.
	</p>
</div>

<div class="fact">

	<h3>Minimalism</h3>
	
	<p>
		It's not about fancy buttons or nice gradients. It's about removing them. Go down to the bare minimum. Be bold. Remove everything non-essential. Your ADHD audience wants to know the core immediately. They hate screen noise. 
	</p>
	
</div>			

<div class="fact"> 
	
	<h3>No usability labs</h3>
	
	<p>
		Usability labs are an overkill. They are like meetings. Waste of time. You have a bad hierarchy or screen noise and you know it. This laziness or uncertainty will cost you. Just ask your friend to try when you're ready.
	</p>
	
</div>			

<div class="fact">

	<h3>It's everywhere</h3> 
	
	<p>
		Documentation, copywriting, features, business plans and the website. Even a programming API has an UI where same rules apply: proper hierarchy, less methods, less arguments less configuration. Get to know user interfaces now.
	</p>
	
</div>
{% endblock %}

{% block links %}
<a href="http://www.amazon.com/gp/product/0321344758?ie=UTF8&tag=clopan-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0321344758">
	Don't Make Me Think <small>The only book you need</small></a>
	
<a href="http://apple.com">
	Apple.com <small>Do you see screen noise?</small></a>

{% endblock %}
