{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm5.static.flickr.com/4041/4193757695_6ff7759d9f_b.jpg) repeat 0 185px
 keywords: redis, salvatore sanfilippo, nosql 
 title: Redis
 time: Thu, 28 Jan 2010 10:00:00
 description: "Do you belong to SQL or NoSQL camp? Who cares. Redis can still perform over 100.000 persistent write operations in a second."
%}

{% block facts %}
<div class="fact">
	<h3>Disks will kill you</h3>
	 
	<p>
		Tape operations killed us in the past. Now it's disk IO. Forget them. RAM is the future. Apple Air does not have disks. Redis performs everything in memory. Why? It's so fast that it scares you.
	</p> 
</div>			

<div class="fact"> 
	<h3>Relational is hard(er)</h3>
	
	<p>
		Redis datatypes are humane. Lists, maps and sets are native for us programmers. Tables, columns, and rows are not not. We need to use use hacks or middleware to make them feel natural.   
	</p> 
</div>			

<div class="fact">
	<h3>WTF. From Italy?</h3>
	
	<p>					
		Salvatore Sanfilippo - the amazing head developer of Redis comes from Italy! This corrupted country where people mostly care about the clothes they wear. I'm from Finland where MySQL was born. Something is terribly wrong.
	</p> 
</div>
{% endblock %}

{% block links %} 
<a href="http://redis.io/">
	redis.io <small>The Home of Redis</small></a>
	
<a href="http://amix.dk/blog/post/19593#Presentation-Redis-The-Hackers-Database">
	The Hackers Database</a>
	
<a href="http://blog.mjrusso.com/2010/10/17/redis-from-the-ground-up.html">
	Redis from the ground up</a>
{% endblock %}

	
