{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm2.static.flickr.com/1412/1264424156_24f4571b10_b.jpg)
 panic: true
 facts: four
 keywords: sap is dead, sap horror, sap problems, why sap, bad sap
 title: SAP
 time: Tue, 23 Nov 2010 10:00:00
 description: "If your organization starts talking about SAP it's your duty to turn the boat. Demand alternatives before another long term horror story begins."
%}

{% block facts %}
<div class="fact">
	<h3>The old world</h3>
	
	<p>					
		SAP is the mother of <a href="enterprise-solutions.html">enterprise solutions</a>. Our case study. Large scale marketing targeted for management who does not understand technology. Developers are invited when the deal is already made. What a sad start.
	</p>
</div>

<div class="fact">

	<h3>But others use it</h3>
	
	<p>
		Congratulations: this is your chance. Let your competitors fall with bad technology, hire endless amount of consultants and Pay Big Time. Obviously you step aside and chooce differently. You don't want to outsource your business and lose control.
	</p>
</div>			

<div class="fact">

	<h3>The Alternative</h3>
	
	<p>
		SAP "consultants" must be far when big decisions are made. What do you really need? Do you need a large mess? No. Use the <a href="cloud.html">Cloud</a>, open source and common sense. Be creative. Try Basecamp. Hire real talent from Github. Remember: even a shared text file in Dropbox is superior to SAP.	
	</p>
	
</div>			

<div class="fact">

	<h3>IBM</h3>
	
	<p>
		While SAP is the biggest and greatest you can be seriously exploited by IBM too. Depressing products like Lotus Notes, DB2 and WebSphere will damage any given business. With the time invested your would have been in a very different position by now.
	</p>
	
</div>

{% endblock %}

{% block links %}
<a href="http://www.zdnet.com/blog/projectfailures/understanding-marin-countys-30-million-erp-failure/10678?tag=nl.e539">
	ZDNet <small>A $30 million SAP failure</small></a>
	
<a href="http://answers.yahoo.com/question/index?qid=20091001191652AAZEtfI">
	<small>Another sad story</small></a>
	
<a href="http://basecamphq.com/">
	Basecamp <small>Cloud project management</small></a>
{% endblock %}
