{% extends "page.django" %}
{# :mode=django: #}

{%hyde
 bg: url(http://farm1.static.flickr.com/15/21984315_aba2efcc0a_b.jpg)
 keywords: stateless, stateless design, stateless architecture, infinite scalability, cloud application design
 title: Stateless design
 description: "It's not about JavaScript versus Ruby versus PHP. It's about being stateless. The key to infinite scalability. Simple as that."
%}

{% block facts %}
<div class="fact">
	<h3>No state</h3>
	
	<p>
		Being stateless means that user information is not store into server's memory. Each request is independent of each other. The client request can be passed to any of your servers randomly.  
	</p> 
</div>			

<div class="fact"> 
	<h3>Server up. Server down.</h3>
	
	<p>
		With the stateless design new servers can be popped up and down on demand. On peak hours you may have 10 servers running serving millions of users and on slow hours 2-3 servers can do the job.
	</p> 
</div>			

<div class="fact">
	<h3>Little or no work</h3>
	
	<p>					
		Be stateless right from the beginning. There is no additional work. You are just ready to scale when needed. As a purist you want to <a href="static-websites.html">be static</a> and <a href="services.html">build services</a>.
	</p> 
</div>
{% endblock %}

{% block links %}
<a href="http://www.rackspacecloud.com/blog/2009/07/17/coding-in-the-cloud-rule-3-use-a-stateless-design-whenever-possible/">
	Rackspace <small>Use a Stateless design whenever possible</small></a>

<a href="http://articles.techrepublic.com.com/5100-10878_11-5030231.html">
	Tech Republic <small>Designing a stateless model</small></a> 
{% endblock %}

		
