{% macro nav(headline, css, root) %}
<div id="{{css}}" class="navi{{ ' active' if in_node.name == node.name }}">
    <h3>{{headline}}</h3>
    {% for page in root.walk_resources_sorted_by_time() %}
        <a
            href="{{ content_url(page.url) }}"
            {% if page.url == resource.url %} class="active"{% endif %}>
            {{page.meta.title|replace('"', '')}}
        </a>
    {% endfor %}
</div>
{% endmacro %}
<div id="navi" class="clear">
    {%set tech = site.content.node_from_relative_path('tech') %}
    {%set crap = site.content.node_from_relative_path('crap') %}

    {{ nav('Technologies to master', 'incloud', tech) }}
    {{ nav('Crap to ignore', 'inpanic', crap) }}

    <div id="marketing-crap">
        <strong style="background-image: none; color: white; text-indent: 0; font-size: 36px; width: 400px; margin: 37px;">This blog is closed.</strong>
    </div>
</div>