{% extends "root.j2" %}

{% block css %}{% endblock %}
{% block title %}{% if page.panic %}Crap to ignore{% else %}Technology to master{% endif %}{% endblock %}
{% block facts %}

{# fact 1 #}
<div class="fact">
    <h3>Fact 1</h3>

    <p>
        Fact description
    </p>
</div>

{# fact 2 #}
<div class="fact">
    <h3>Fact 2</h3>

    <p>
        Fact description
    </p>
</div>

{# fact 3 #}
<div class="fact">
    <h3>Fact 3</h3>

    <p>
        Fact description
    </p>
</div>
{% endblock %}

