<!doctype html>
<html class="no-js">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <title>{{resource.meta.title|typogrify}} @ CLOUD PANIC</title>
    <meta name="description" content="{{resource.meta.description}}">
    <meta name="keywords" content="{{ resource.meta.keywords | default(keywords) }}">
    <meta name="author" content="{{resource.meta.author}}">

    <link rel="icon" type="image/png" href="{{media_url('img/favicon.png')}}">
    <link rel="stylesheet" href="{{media_url('css/style.css?v=4')}}">

    {% block css %}{% endblock %}

    <!-- CSS scripting & LabJS only-->
    <script src="{{media_url('js/head.min.js')}}"></script>
</head>


<body>

    <div id="wrap" class="{% if resource.meta.panic %}panic{% else %}cloud{% endif %}">

        <a href="{{content_url('/about.html')}}" id="logo" title="About Cloudpanic">
            <strong>!!</strong> cloudpanic
            <em>Technologies to master. Crap to ignore.</em>
        </a>

        <div id="story" class="clear" style="background:{{resource.meta.bg}}">

            <a id="forward" href="{{content_url('flash.html')}}"><em>next crap:</em> Flash</a>

            <div id="content">

                <div id="title">
                    <h1>{{resource.meta.title|typogrify}}</h1>

                    <h2>
                        {{resource.meta.description|typogrify}}
                        <em id="created">{{resource.meta.time}} +0200</em>
                    </h2>
                </div>

                <div id="bottom">
                    <div id="share">
                        {# http://twitter.com/goodies/tweetbutton #}
                        <a id="tweet" href="http://twitter.com/share"
                            data-text="{% if resource.meta.panic %}Crap to ignore{% else %}Technology to master{% endif %}: {{resource.meta.title}} @ cloudpanic.com"
                            class="twitter-share-button" data-count="vertical"
                            data-via="cloudpanic">Tweet</a>

                        {# facebook #}
                        <iframe id="facebook" frameborder="0" src="http://www.facebook.com/plugins/like.php?href={{resource.full_url|escape}}&amp;layout=box_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" allowTransparency="true"></iframe>
                    </div>

                    <div id="facts" class="clear {{resource.meta.facts}}">
                        {% block facts %}{% endblock %}
                    </div>

                    <div id="links" class="clear">
                        {% block links %}{% endblock %}
                    </div>

                </div>

            </div>

        </div>


        <div id="navi" class="clear">

            <div id="incloud" class="navi active">
                <h3>Technologies to master</h3>

                <a href="index.html">User Interfaces</a>
                <a href="cloud.html">The Cloud</a>
                <a href="stateless-design.html">Stateless design</a>
                <a href="services.html">Services</a>
                <a href="javascript.html">JavaScript</a>
                <a href="static-html.html">Static HTML</a>

            </div>

            <div id="inpanic" class="navi">
                <h3>Crap to ignore</h3>

                <a href="features.html">Features</a>
                <a href="sap.html">SAP</a>
                <a href="java.html">Java</a>
                <a href="flash.html">Flash</a>
                <a href="enterprise-solutions.html">Enterprise solutions</a>
            </div>

            <div id="marketing-crap">
                <strong>Next story that matters</strong>
                <h2 id="after">Fri, 28 Jan 2011 11:00:00 +0200</h2>
                <a href="http://twitter.com/cloudpanic">Hear about it!</a>
            </div>

        </div>

    </div>

    <div id="footer">
        <a href="{{content_url('/about.html')}}">About</a> &bull;
        <a href="http://www.flickr.com/photos/55014838@N08/galleries/72157625062868131/">Photo credits</a> &bull;
        <a href="http://github.com/tipiirai/cloudpanic">Source code</a> (Github)</a>
    </div>

    <script>
    head.js("/media/js/site.js")
         .js("http://platform.twitter.com/widgets.js")
         .js("http://www.google-analytics.com/ga.js", function() {
        {% if analytics %}
            var tracker = _gat._getTracker("{{analytics}}");
            tracker._trackPageview();
        {% endif %}
    });
    </script>

</body>

</html>


