<div id="share">
    <a id="tweet" href="http://twitter.com/share"
        data-text="{{ 'Crap to ignore' if meta.panic else 'Technology to master' }}: {{meta.title}} @ cloudpanic.com"
        class="twitter-share-button" data-count="vertical"
        data-via="cloudpanic">Tweet</a>
    <iframe id="facebook" frameborder="0" src="http://www.facebook.com/plugins/like.php?href={{resource.full_url|escape}}&amp;layout=box_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" allowTransparency="true"></iframe>
</div>